In [3]:
import pandas as pd
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

import matplotlib.pyplot as plt
import os
os.chdir(r"D:\ME\GeorgeTown\FALL2022\ANLY-590\ANLY590")

import numpy as np

In [4]:
#The samples in test_csv will not be used for training & validation
train_csv=pd.read_csv(r'Data\raw data\train.csv')
train_csv.head()

,posting_id,image,image_phash,title,label_group
0,train_129225211,0000a68812bc7e98c42888dfb1c07da0.jpg,94974f937d4c2433,Paper Bag Victoria Secret,249114794
1,train_3386243561,00039780dfc94d01db8676fe789ecd05.jpg,af3f9460c2838f0f,"Double Tape 3M VHB 12 mm x 4,5 m ORIGINAL / DO...",2937985045
2,train_2288590299,000a190fdd715a2a36faed16e2c65df7.jpg,b94cb00ed3e50f78,Maling TTS Canned Pork Luncheon Meat 397 gr,2395904891
3,train_2406599165,00117e4fc239b1b641ff08340b429633.jpg,8514fc58eafea283,Daster Batik Lengan pendek - Motif Acak / Camp...,4093212188
4,train_3369186413,00136d1cf4edede0203f32f05f660588.jpg,a6f319f924ad708c,Nescafe \xc3\x89clair Latte 220ml,3648931069

In [7]:
train_csv.query('label_group==249114794')

,posting_id,image,image_phash,title,label_group
0,train_129225211,0000a68812bc7e98c42888dfb1c07da0.jpg,94974f937d4c2433,Paper Bag Victoria Secret,249114794
33161,train_2278313361,f83b49a86a0ee8592e3bf0204da3fbdf.jpg,ac63931c3d4b42f6,PAPER BAG VICTORIA SECRET,249114794

In [5]:
#The samples in test_csv will not be used during training
test_csv=pd.read_csv(r'Data\raw data\test.csv')
test_csv.head()

,posting_id,image,image_phash,title
0,test_2255846744,0006c8e5462ae52167402bac1c2e916e.jpg,ecc292392dc7687a,Edufuntoys - CHARACTER PHONE ada lampu dan mus...
1,test_3588702337,0007585c4d0f932859339129f709bfdc.jpg,e9968f60d2699e2c,(Beli 1 Free Spatula) Masker Komedo | Blackhea...
2,test_4015706929,0008377d3662e83ef44e1881af38b879.jpg,ba81c17e3581cabe,READY Lemonilo Mie instant sehat kuah dan goreng

In [36]:
#Count every label_group
train_csv.label_group.value_counts().reset_index().rename(columns={'index':'label_group','label_group':'count'}).head()

   label_group  count
0    994676122     51
1   1163569239     51
2   1141798720     51
3    159351600     51
4    562358068     51

In [37]:
#Only sample those label_group which has more than 20 samples
test_ratio=0.1
label_count=train_csv.label_group.value_counts().reset_index().rename(columns={'index':'label_group','label_group':'count'})
sample_num={}

for i in range(label_count.shape[0]):
    num_to_sample=label_count['count'].iloc[i]*test_ratio
    if num_to_sample<2:continue
    sample_num[label_count['label_group'].iloc[i]]=int(num_to_sample)

sample_num

{994676122: 5,
 1163569239: 5,
 1141798720: 5,
 159351600: 5,
 562358068: 5,
 3113678103: 5,
 3627744656: 5,
 3206118280: 4,
 1733221456: 4,
 1166650192: 4,
 1091404026: 4,
 3489985175: 4,
 1237550763: 3,
 1746655739: 3,
 452508504: 3,
 731330024: 3,
 4184214313: 3,
 2008989859: 3,
 1575763518: 3,
 66247839: 3,
 871679006: 3,
 952183003: 3,
 2259957740: 3,
 3001123709: 3,
 2999794436: 3,
 2935813666: 3,
 3926100920: 3,
 656698835: 3,
 1226500780: 3,
 997220911: 3,
 1201602115: 2,
 821583868: 2,
 3717044186: 2,
 3868183614: 2,
 1135976474: 2,
 3326267479: 2,
 3040690230: 2,
 927285629: 2,
 1306578136: 2,
 2156459496: 2,
 4141124289: 2,
 2123332638: 2,
 418991059: 2,
 1569494229: 2,
 3441184770: 2,
 777596345: 2,
 1744240905: 2,
 2956941947: 2,
 1065450055: 2,
 1544174053: 2,
 1088754866: 2,
 2911646536: 2,
 4277487223: 2,
 3433277712: 2,
 962477933: 2,
 1285119273: 2,
 4038613836: 2,
 2748623227: 2}

In [53]:
valid_idx=[list(np.where(train_csv['label_group']==label)[0][:sample_num[label]]) for label in sample_num]
valid_idx=[idx for group in valid_idx for idx in group]

train_idx=[i for i in range(train_csv.shape[0]) if i not in valid_idx]

print('TrainingSet Size:{}'.format(len(train_idx)))
print('ValidationSet Size:{}'.format(len(valid_idx)))

TrainingSet Size:34085
ValidationSet Size:165

In [55]:
X_train,y_train=train_csv.iloc[train_idx,:-1],train_csv.iloc[train_idx,-1]
X_valid,y_valid=train_csv.iloc[valid_idx,:-1],train_csv.iloc[valid_idx,-1]

In [ ]:
#Save data split
X_train.to_csv(r'data_splitted/X_train_splitted.csv',index=False)
y_train.to_csv(r'data_splitted/y_train_splitted.csv',index=False)
X_test.to_csv(r'data_splitted/X_test_splitted.csv',index=False)
y_test.to_csv(r'data_splitted/y_test_splitted.csv',index=False)